.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  min-width: 800px;
}

th.mat-header-cell,
td.mat-cell {
  padding: 12px 16px;

  &:first-of-type {
    padding-left: 24px;
  }

  &:last-of-type {
    padding-right: 24px;
  }
}

@media (max-width: 600px) {
  th.mat-header-cell,
  td.mat-cell {
    padding: 12px;

    &:first-of-type {
      padding-left: 16px;
    }

    &:last-of-type {
      padding-right: 16px;
    }
  }
}