<mat-card class="height-settings">
    <mat-card-header>
      <mat-card-title>Height Settings</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <button mat-button color="primary" (click)="toggleForm()">
        <mat-icon>{{ showForm ? 'expand_less' : 'expand_more' }}</mat-icon>
        {{ showForm ? 'Hide Height Settings' : 'Update Height' }}
      </button>
  
      <form *ngIf="showForm" [formGroup]="heightForm" (ngSubmit)="onSubmit()" class="height-form">
        <div class="height-inputs">
          <mat-form-field>
            <mat-label>Feet</mat-label>
            <input matInput type="number" formControlName="feet" min="0" max="8">
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Inches</mat-label>
            <input matInput type="number" formControlName="inches" min="0" max="11">
          </mat-form-field>
        </div>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="!heightForm.valid">
          Save Height
        </button>
      </form>
    </mat-card-content>
  </mat-card>