.chart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-card {
  margin-bottom: 20px;
}

.measurement-toggles {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.measurement-toggles button {
  min-width: 100px;

  &.selected {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

canvas {
  width: 100% !important;
  height: 300px !important;
}